
@media only screen and (max-width: 1500px) {

  /* Home+Nav */
  .nav-ul {
    margin-right: -1%;
  }


  /* Projects */





}

/* Big Tablet to 1200px(widths smaller than 1140px row): from 1024px to 1200px */
@media only screen and (max-width: 1200px) {

  /* Home+Nav */
  .mobile-nav-icon  {
    position: absolute;
    display: inline-block;
    color: #fff;
    top: 2%;
    left: 85%;


  }

  .mobile-nav-ul {
    display:block
  }

  .nav-ul li{
    display: none;
  }

  .nav-ul-mobile li a:hover,
  .nav-ul-mobile li a:active {
    border: 0;
  }






  }


/* small tablet to big tablet (ipad in portrait mode): from 768px to 1023px */
@media only screen and (max-width: 1023px) {
 .about-me-paragraph {
   flex-direction: column;
   align-items: center;
 }

  .about-me-paragraph p{
    text-align: justify;


 }

 .about-me-paragraph img {
   display: block;
   width: 200%;
   height: auto;
   margin-left: -45%


 }

}

/* Small phones to small tablets: from 481px to 767px (width of ipad is 768 so smaller) */
@media only screen and (max-width: 767px) {


}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  /* Home */
  .home-paragraph-text {
    left: 15%
  }
  .home-paragraph-text-two {
    left: 6%;
  }
  .home-right-text {
    right: 9%
  }

  .home-left-text {
    font-size: 200%;
    top: 23%;
    left: 17%;
  }

  .nav-logo{
    margin-left: 3%
  }

  /* About Me */
  .about-me-paragraph p{
    padding: 20px 20px;;
  }

  .about-me-paragraph img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 0


  }


  .contact-paragraph{
    padding: 40px 20px;
  }
}