/* ---------------------------------*/
/* BASIC SETUP */
/*----------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	color: #555;
	font-size: 24px;
}

/* ---------------------------------*/
/* REUSABLE COMPONENTS */
/*----------------------------------*/
.col{
  float:left;
	width: 50%;
	padding:10px;
	height:100vh;
}

.row::after {
	content: "";
  display: table;
  clear: both;
}

h1::after  {
	display: block;
  height: 2px;
  background-color: #ffffff;
  content: " ";
  width: 99%;
  margin: 0 auto;
  margin-top: 3.5%;
}

h2::after  {
	display: block;
  height: 2px;
  background-color: #000;
  content: " ";
  width: 133.7%;
  margin: 0 -30%;
  margin-top: 3.5%;
}



/* ---------------------------------*/
/* Home Page */
/*----------------------------------*/

/* Left */
.home-left-side-background {
	background-color: #2f4858;
}

.home-left-text {
	position:absolute;
	color: #fff;
	text-align: center;
	font-size: 300%;
	top: 15%;
	left: 15%;
}

.left-vline {
	position:absolute;
  border-left: 2px solid #fff;
	height: 74.8%;
	top: 25.1%;
	left: 15%;
}



/* Right */
.home-right-text {
	position: absolute;
	font-family: monospace;
	color: #000;
	text-align: center;
	font-size: 300%;
	top: 57%;
	right: 15%;
}

.home-right-side-background {
	background-color: #a983ac;
}

.right-vline {
	position:absolute;
  border-left: 2px solid #000;
	height: 76%;
	top: 0;
	right: 14%;
}

/* Image */
.center-img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.center-img img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 60%;
	width: auto;
	margin: auto;
	opacity: 0.8
}