.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top:0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left:0;
  background-color: #363a35;
  color: #fff;
}

.right {
  right: 0;
  background-color: #9ab993;

}

.centered {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 55%;
  z-index: 100;
}